<template>
<p class=""><img :src="'https://ucarecdn.com/'+field.value+'/-/preview/64x64/'" class="rounded-sm w-9 h-9" style="object-fit: cover;"></p>
</template>

<script>
export default {
    props: ['resourceName', 'field'],
}
</script>
